<a href="https://colab.research.google.com/github/annazolina281/CPE-031-VDA-Cpe-21s4/blob/main/Exercise_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example 1

In [2]:
import pandas

mydataset = {
    'animals': ["Cat", "Dog", "Rabbit"],
    'height': [13, 17, 8]
}
myvar = pandas.DataFrame(mydataset)

print(myvar)

  animals  height
0     Cat      13
1     Dog      17
2  Rabbit       8

Example 2

In [6]:
import pandas as pd

a = [1.5, 7.5, 2.5]

myvar = pd.Series(a)

print(myvar[0])

1.5

Example 3

In [14]:
import pandas as pd

data ={
    "age":[42, 38, 39],
    "weight":[50, 40, 45]
}

myvar = pd.DataFrame(data)
print(myvar.loc[[0]])
print(myvar.loc[[0, 1]])
print(myvar.loc[[0, 1, 2]])

   age  weight
0   42      50
   age  weight
0   42      50
1   38      40
   age  weight
0   42      50
1   38      40
2   39      45

Example 4

In [ ]:
import pandas as pd
#series using data frames
s1 = pd.Series([0, 4, 8])
s2 = pd.Series([1, 5, 9])
s3 = pd.Series([2, 6, 10])

dframe = pd.DataFrame([s1, s2, s3])
#dframe = dframe.drop([0])
#print(dframe)
#Add another at the bottom

s4 = pd.Series([5, 10 ,15])

dframe = dframe.append(s4)

print(dframe)

In [34]:
import pandas as pd

# Original series
s1 = pd.Series([0, 4, 8])
s2 = pd.Series([1, 5, 9])
s3 = pd.Series([2, 6, 10])
s4 = pd.Series([5, 10, 15])
# Creating the DataFrame
dframe = pd.DataFrame([s1, s2, s3, s4])

# Print the DataFrame
print(dframe)

   0   1   2
0  0   4   8
1  1   5   9
2  2   6  10
3  5  10  15

Example 5

In [36]:
import pandas as pd
s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])
s4 = pd.Series([5,10,15])

#creating multi-dimensional table
dframe = pd.DataFrame([s1,s2,s3,s4],index =[0,1,2,3], columns =[0,1,2])
print(dframe)

   0   1   2
0  0   4   8
1  1   5   9
2  2   6  10
3  5  10  15

Challenge