<a href="https://colab.research.google.com/github/annazolina281/CPE-031-VDA-Cpe-21s4/blob/main/Exercise_2_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# How are you going to delete indices no 0, 1, 3 leaving only all items in index 2

In [ ]:
import pandas as pd
s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])
s4 = pd.Series([5,10,15])

#creating multi-dimensional table
dframe = pd.DataFrame([s1,s2,s3,s4],index =[0,1,2,3], columns =[0,1,2])
dframe = dframe.drop([0, 1, 3])
print(dframe)

   0  1   2
2  2  6  10

In [ ]:
import pandas as pd

s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])
s4 = pd.Series([5,10,15])

dframe = pd.DataFrame([s1, s2, s3, s4])
dframe = dframe.drop([0, 1, 3])
print(dframe)

   0  1   2
2  2  6  10