<a href="https://colab.research.google.com/github/annazolina281/CPE-031-VDA-Cpe-21s4/blob/main/Prelim_Q12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
print("Original DataFrame")
Data_Frame = [['1', '4', '7'], ["4", "5", "8"], ["3", "6", "9"], ["4", "7", "0"], ["5", "8", "1"]]
df = pd.DataFrame(Data_Frame, columns = ("col1", "col2", "col3"))
print(df)
print("New DataFrame")
Data_Frame1 = [['1', '4', '7'], ["", "", ""], ["3", "6", "9"], ["4", "7", "0"], ["5", "8", "1"]]
df1 = pd.DataFrame(Data_Frame1, columns = ("col1", "col2", "col3"))
print(df1)

Original DataFrame
  col1 col2 col3
0    1    4    7
1    4    5    8
2    3    6    9
3    4    7    0
4    5    8    1
New DataFrame
  col1 col2 col3
0    1    4    7
1
2    3    6    9
3    4    7    0
4    5    8    1